In [1]:
nest = [1,2,3,[4,5,['target','yes']]]

In [2]:
nest

[1, 2, 3, [4, 5, ['target', 'yes']]]

In [3]:
nest[3][2][-2]

'target'

In [4]:
d = {'k1':{'innerkey':[1,2,3]}}

In [5]:
d['k1']['innerkey'][2]

3

In [6]:
a = (True == False)
b = (True == True)

In [7]:
a == b

False

In [8]:
my_list = [1,2,3,'ty']
t = (1,2,3,'tr')

In [9]:
print(type(t))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [10]:
my_list == t

False

In [11]:
my_set = {4,65,6,4,'yt'}
my_set

{4, 6, 65, 'yt'}

In [12]:
my_set.pop()

'yt'

In [13]:
my_set

{4, 6, 65}

In [14]:
if True:
    x = 5

In [15]:
x

5

In [16]:
i = 1
while i < 5:
    print("i = {}".format(i))
    i = i+1

i = 1
i = 2
i = 3
i = 4

In [20]:
x = [1,3,5,6,7]

In [21]:
li = []
for num in x:
    li.append(num**2)
print(li)

[1, 9, 25, 36, 49]

In [25]:
#list comprehension
out = [num**2 for num in x]

In [26]:
out

[1, 9, 25, 36, 49]

In [36]:
def funct(name = "Default name"):
    print("Hello {}".format(name))
    
funct("Mlondi")

Hello Mlondi

In [61]:
def square(num):
    """
    This is a DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

output = square(5)
print(output)

25

### map and lambda functions

In [42]:
def times2(var):
    return var *2
print(times2(6))

12

In [94]:
#map()
seq = [1,2,3,4,5]
tup = (6,7,8,9)

In [47]:
li =[]
for num in seq:
    li.append(times2(num))
print(li)

[2, 4, 6, 8, 10]

In [60]:
#applying map function
map(times2,seq)
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [80]:
#rewrite times2 function using lambda expression
t = lambda var: var * 2
t(67)

list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [99]:
print(list(filter(lambda num: num%2 == 0,tup)))
tuple((filter(lambda num: num%2 == 0,seq)))

[6, 8]

(2, 4)

### Tuple unpacking

In [104]:
ax = [(1,2),(3,4),(5,6),(7,8)]

for a in ax:
    print(a)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [109]:
for (a,b) in ax:
    print(a,b)

1 2
3 4
5 6
7 8